
if SHIELD_CUCTUS34_LEFT

config ZMK_KEYBOARD_NAME
    default "CUCTUS"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_CUCTUS34_LEFT || SHIELD_CUCTUS34_RIGHT

config ZMK_SPLIT
    default y

endif
